[2020-04-18 00:34] web75018 opened #1 "background mode"
Hi @umair13adil
can we use the package on background mode (iOS / Android)?
Thanks for sharing!

[2020-04-18 07:16] umair13adil commented on #1
HI,

No, that feature is not added yet, I will add it to my list and see if I can develop it soon.

Med venlig hilsen / Kind regards

Muhammad Umair Adil,
Sr. Software Engineer

[2020-04-20 21:36] mike-robinson opened #2 "Build Failed"
Could not build your example for iOS.

`Launching lib/main.dart on iPhone 11 Pro Max in debug mode...
Running pod install...                                              1.7s
Running Xcode build...
Xcode build done.                                            6.5s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    <module-includes>:1:9: note: in f

[2020-04-21 04:49] umair13adil commented on #2
Hi,

I have been reported this bug, I am working on it’s fix. I will release this within a day or two.

Med venlig hilsen / Kind regards

Muhammad Umair Adil,
Sr. Software Engineer

[2020-04-21 17:46] umair13adil commented on #2
I have published a new version (1.0.8) of the
beacons_plugin package to the Dart package site (pub.dev).

iOS build issue is fixed, please see ReadMe for implementation on iOS project.

For details, go to https://pub.dev/packages/beacons_plugin/versions/1.0.8 <https://pub.dev/packages/beacons_plugin/versions/1.0.8>

If you have any concerns about this package, file an issue at
https://github.com/d

[2020-04-21 17:51] #2 closed

[2020-04-21 17:52] umair13adil commented on #1
I have published a new version (1.0.8) of the
beacons_plugin package to the Dart package site (pub.dev).

Background scan mode is added, please see ReadMe for implementation on Android & iOS project.

For details, go to https://pub.dev/packages/beacons_plugin/versions/1.0.8 <https://pub.dev/packages/beacons_plugin/versions/1.0.8>

If you have any concerns about this package, file an issue at
https

[2020-04-21 17:52] #1 closed

[2020-04-22 15:18] mike-robinson opened #3 "No beacons scanned"
I'm running your example app on an iPhone. Runs fine but detects no beacons. I am using another app (BLE Hero) to insure that my beacon is actually transmitting (it is). I admit being very new to beacons but I have confirmed the UUID, major and minor regions and name of my beacon entered in the example code. There are no errors when running, just no results. Any suggestions?

[2020-04-23 05:06] umair13adil commented on #3
On iPhone, it will only detect **'iBeacons',** other types like 'Eddystone', 'AltBeacon' are not detected at all.

Check out this answer on [StackOverflow](https://stackoverflow.com/a/46800813/6313469).

[2020-04-23 15:58] mike-robinson commented on #3
Thanks for the reply. The beacon I am testing is an iBeacon (BlueCharm).

[2020-04-29 10:18] dariocavada opened #6 "iOS allow monitoring beacon using just UUID"
As for android it would be useful to filter the beacons only with **uuid** and not necessarily having to pass minor, major, name. I checked the code, but didn't find this capability.

Instead of this:
[code]

Something like:
[code]

Or just:
[code]
Thank you.

[2020-04-29 10:32] dariocavada commented on #3
Same problem with iOS.

[2020-04-29 10:32] umair13adil commented on #6
Hi,

Thank you for your feedback, this will be taken care of in next release soon.

Med venlig hilsen / Kind regards

Muhammad Umair Adil,
Sr. Software Engineer

[2020-04-29 13:34] dariocavada opened #7 "stopMonitoring in iOS not working"
If I call `stopMonitoring`, `startMonitoring` is called instead.

https://github.com/umair13adil/simple_beacons_flutter/blob/master/ios/Classes/SwiftBeaconsPlugin.swift

[code]

[2020-04-29 13:47] dariocavada opened #8 "iOS setMethodCallHandler not working"
In the `setMethodCallHandler` method I don't get anything.
The following "IMPORTANT" statement is just for Android?

[code]

[2020-04-29 13:56] dariocavada commented on #8
If I use the following code (in the example).
iOS start scanning beacons.

[code]

[2020-04-29 20:07] #6 closed

[2020-04-29 20:07] #3 closed

[2020-04-30 07:18] #7 closed

[2020-04-30 07:19] dariocavada commented on #7
The version 1.0.10 solves this issue.

[2020-04-30 07:20] dariocavada commented on #8
The version 1.0.10 solves this issue

[2020-04-30 07:21] dariocavada commented on #8
The version 1.0.10 solves this issue

[2020-04-30 07:21] #8 closed

[2020-05-02 23:28] vincent-odx opened #10 "Addregion for iOS"
Hi,
Is there a way to control the user permission than pop up from app startup?

[2020-05-04 05:32] umair13adil commented on #10
Hi,

major and minor values are optional, you can send them as empty string from flutter.

Med venlig hilsen / Kind regards

Muhammad Umair Adil,
Sr. Software Engineer

[2020-05-04 09:06] vincent-odx commented on #10
Thanks. Is there a way to delay the permissions?

[2020-05-04 09:12] umair13adil commented on #10
No, there is not, as soon as it is invoked, permissions will be checked.

[2020-05-04 09:13] #10 closed

[2020-05-09 22:10] is10vmust opened #11 "Some issues || in Background and timing (after kill the app.)"
Hello , first of all i would to thank you about this useful plug in , i was run the plug in into both IOS and Android and it works good , but after i killed the app the ble stop scaning and i got like this ::
**MY LOGS ----->>**

-------------------------------------------------------------------------------------------->>>
**THE REASON OF MY APP >>>**
 i only need to know if i was connect to the

[2020-05-11 09:21] umair13adil commented on #11
**1. how can i remove the stacked notification (Looking for nearby beacons)**

	To stop monitoring beacons, you must call this from flutter:

		`await BeaconsPlugin.stopMonitoring;`

	Chances are when you force kill the app, this is not called, that’s why the service keeps running in the background.

**2. how i can make the plug-in scans every 1 min**

	For now there is no option to scan every 1 m

[2020-05-11 09:21] #11 closed

[2020-05-30 09:18] ammarmahafeza opened #12 "Error run iOS"
[VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method addRegion on channel beacons_plugin)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:154:7)
<asynchronous suspension>
#1      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:329:12)
#2      BeaconsPlugin.addRegion (p

[2020-05-30 09:36] #12 closed

[2020-05-30 09:39] ammarmahafeza opened #13 "after terminated the app- iOS"
after terminated the app the plugins stop scan the  beacon why ?
I need scan the beacon after terminated please tell me how can do that
thank you so much for help

[2020-06-15 11:36] luisestudioalfa opened #14 "Hello,"

[2020-06-15 14:09] dariocavada commented on #14
This plugin use two different libraries, AltBeacon library for Android (https://github.com/AltBeacon/android-beacon-library/issues/708) and CoreLocation for Apple.

For example AltBecon library, collect various beacon signals and  every second sends an event with the list of beacons, the mean of the collected RSSI and a distance estimation (it takes 10 seconds

**All about the distance calculation

[2020-07-22 08:54] mingjunsiek opened #15 "MissingPluginException(No implementation found for method listen on channel beacons_plugin_stream)"
![image](https://user-images.githubusercontent.com/13094556/88156304-d3fe0c00-cc3b-11ea-96d6-e6f1b55a324e.png)

I've followed your steps in installing the plugin and I copied your example file to test it out. However, I faced this issue regarding MissingPluginException. Please advice.

[2020-07-22 08:58] umair13adil commented on #15
Have you replaced the 'FlutterActivity' with 'BeaconsActivity' as shown in the code below?

[code]

[2020-07-22 09:16] mingjunsiek commented on #15
Ah right! Thank you!

[2020-07-22 09:16] #15 closed

[2020-08-11 20:31] WikiWookie opened #16 "Attempt to register plugin but it was already registered."
Followed setup and install per https://pub.flutter-io.cn/packages/beacons_plugin

All I have done is the setup and I have not actually tried to use the package yet because it won't compile.

[code]

[2020-08-12 09:27] umair13adil commented on #16
Please try the latest version [v1.0.15](https://pub.dev/packages/beacons_plugin). The android side implementation is made simpler and this issue is resolved. Please read the ReadMe.MD for the changes on the Android part.

[2020-08-12 09:27] #16 closed

[2020-08-19 08:45] dariocavada opened #17 "version 1.0.15 - breaking changes"
Please add some sort of alert for porting from 1.0.12 to 1.0.15, you have to remove some old code from the AndroidManifest and change the `MainActivity.kt` as shown in the documentation (Just to mention that if after upgrading the code did not compiles  you have to modifify AndroidManifest and MainActivity.kt.)

[2020-08-19 08:51] dariocavada opened #18 "version 1.0.15 - setMethodCallHandler is never been called"
After upgrade to 1.0.15, the setMethodCallHandler never returns a value.

If you want to start beacon monitoring you have to manually call:

[code]

If you try this code (taken from your example), the code prints out just STEP1 and not STEP2 and STEP3:

[code]

[2020-08-19 09:00] umair13adil commented on #17
Okay, I will do that. I will add some sort of migration guide.

[2020-08-19 09:05] umair13adil commented on #18
I will look into it, maybe 'scannerReady' method call is not properly invoked or blocked on the Android plugin side.

[2020-08-21 09:47] dariocavada opened #21 "version 1.16"
I receive lots of messages from BluetoothScanner/BluertoothLEAdapter.
Is possible to remove them or messages are inside another package/plugin ?

[code]

[2020-09-07 08:40] daveleenew opened #22 "version 1.0.16 - setMethodCallHandler is never been called"
version 1.0.16 - setMethodCallHandler is never been called.

never been called

[2020-09-30 02:24] Wujidadi opened #23 "Unhandled Exception: MissingPluginException(No implementation found for method startMonitoring on channel beacons_plugin)"
I've run into this situation: the plugin and my code ran perfectly in Android, but in iOS these errors happened:
(for easy reading I took the screenshot of VSCode debug console; the errors were the same while run it from Xcode)

![image](https://user-images.githubusercontent.com/10349431/94634472-b2d42e80-0302-11eb-9dc7-fa2956511b82.png)

It shows in the debug screenshot above exceptions took plac

[2020-09-30 03:50] Wujidadi commented on #23
I've tried every ways I could get from Google, even removed the project and rebuilt it, or created a new project with the same plugin. All these got the same result.

[2020-10-02 12:05] Wujidadi commented on #23
I got it... `BeaconsPlugin.listenToBeacons` should not be placed below `addRegion` or `startMonitoring/stopMonitoring`. It should be the in first line of any actions of this plugin in the `initPlatformState` scope, just like it has been in the example.

Sorry for dumb question. Closed.

[2020-10-02 12:05] #23 closed

[2020-10-06 20:43] kmigntw opened #24 "Asking for permissions"
Hello,

First of all great package! I really love it!

However I noticed that the package does not ask for permissions (bluetooth or location), neither on iOS or Android. It is asking for location but even if you allow to use it does not actually turn it on and you have to manually turn the location and the bluetooth on.
Can this be implemented in the nearest release? Currently we have to handle t

[2020-10-26 12:56] TomStoffen opened #25 "Deactivate Persistent Notification in background mode"
Is it possible to implement such option, or is there a privacy reason why this persistent notification is shown in background mode?

[2020-10-29 04:47] umair13adil commented on #25
That's a requirement for Foreground services, we can not start service in the background without showing a persistent notification.

[2020-10-31 18:07] EricHier commented on #22
I've got the same problem - did you find a solution?

In my testing, I found out that the method is called when I move the app to the background. When entering it again, the beacon scanner stops monitoring again.

[2020-10-31 18:07] EricHier commented on #18
I've got the same problem - did you find a solution?

[2020-11-02 10:44] justoke opened #26 "Feature request : Support for raw data or payload data"
I have a number of IOT hardware sensors which provide an iBeacon interface and also expose the data that they contain - temperature and humidity - in a byte array. This is shown in the example below as RawData in the BLE Scanner app. Not sure how they have done this.

I've tried all the Flutter libraries I could find for Bluetooth/BLE and none of them seem to have a method to read this raw data. W

[2020-11-02 14:58] umair13adil commented on #26
This feature can be provided using AltBeacon's existing methods for Android and is do-able for iOS too. This feature will be part of this plugin soon.

[2020-11-02 16:31] yossefEl opened #27 "Not working on ios"
@umair13adil  Thanks a lot for this plugin!
This plugin is working on android, but for some reasons it's **not scanning on iOS** I'm using the example app with a little change (I created a Beacon model class)
**the version I'm using :  beacons_plugin: ^1.0.17**
 **AppDelegate.swift**
[code]
**the debug log**
[code]

**flutter doctor -v**
[code]

[2020-11-03 10:35] dariocavada opened #28 "App rejection - Android"
My App was rejected with this message:

**Prominent disclosure not found**
Your app must display a prominent disclosure through a pop-up alert before your app’s location runtime permission. Based on our review, a prominent disclosure did not appear before the runtime permission.

The Beacon Plugin needs the PERMISSION_REQUEST_BACKGROUND_LOCATION and so:

Your app must display a prominent disclosur

[2020-11-03 11:05] umair13adil commented on #28
The solution is one provided by AltBeacon, this must be added in the plugin for Android.

[2020-11-03 13:19] yossefEl commented on #27
@umair13adil can please take a look here and thanks in advance!

[2020-11-03 13:39] umair13adil commented on #27
@yossefEl Which beacons model are you using? Please share its details.

[2020-11-03 13:50] yossefEl commented on #27
@umair13adil this is my code [beacons plugin example gist](https://gist.github.com/yossefEl/cc8e4c3eea2b083e4baa029e42fe31a2)

[2020-11-03 13:59] umair13adil commented on #27
@yossefEl Does your beacon manufacturer supports [iBeacon](https://os.mbed.com/blog/entry/BLE-Beacons-URIBeacon-AltBeacons-iBeacon/)?

[2020-11-03 14:06] yossefEl commented on #27
@umair13adil I forgot to mention that the button stucks in 'Stop scanning' and when I click nothing changed
However, I'm using [beacon_broadcast plugin](https://pub.dev/packages/beacon_broadcast) to create virtual beacons so based on the documentation:

[2020-11-03 14:11] umair13adil commented on #27
@yossefEl I see, I will check it out, meanwhile can you please create a virtual beacon using this app: [Beacon Simulator](https://play.google.com/store/apps/details?id=net.alea.beaconsimulator&hl=en)? Please let me know if that worked on the iPhone or not.

[2020-11-03 14:17] yossefEl commented on #27
@umair13adil I already tested it with this app and it still not working if you want to take a look at my code I'll share it with you but I'm sure I configured properly the app!

[2020-11-06 08:25] dariocavada opened #29 "App Rejection - iOS"
If you don't use the background mode (scanning beacons), you must remove the following lines from Info.plist:

[code]

The apple team rejected my app because of this.

You could put this advice in your documentation.

**Guideline 2.5.4 - Performance - Software Requirements**

Your app declares support for location in the UIBackgroundModes key in your Info.plist file but does not have any features

[2020-11-12 10:49] yossefEl commented on #29
@dariocavada Thanks for sharing this advice!
Does this plugin works well on is for you??
it stucks in Stop Scanning for me and the scan is not working !

[2020-11-17 14:07] LeaBuchweitz opened #30 "Random Mac Address"
Hi!

I have a quick question. The mac address which is transmitted does not equal the device mac address and I assume it may be because of Android limiting this itself.

However, I somehow hope that I'm wrong... How is the mac address assigned?
I'm creating an app which scans for other phones using the same app (each phone is a beacon and each phone scans for other beacons). Do I have any opportun

[2020-11-17 15:00] justoke commented on #30
Hi. Here is an article that might explain some background. Understanding the standards is helpful to evaluating an idea
https://www.novelbits.io/bluetooth-address-privacy-ble/#:~:text=A%20Bluetooth%20address%20sometimes%20referred,is%20referred%20to%20as%20BD_ADDR%20.

[2020-11-18 16:51] dariocavada commented on #29
Yes it works, if you want to share your code, beacon used, phone, ... etc.

[2020-11-18 18:10] LeaBuchweitz commented on #30
Thank you vrey much, I will definitely have a look at this! You are totally right that a background understanding is essential.

[2020-11-18 20:16] LeaBuchweitz opened #31 "Background activity crashes after 1min on Android"
Hi again!

I have enabled the background activity, but after ~1min the monitoring process crashes, with the log saying

--->
D/BeaconHelper(14193): didExitRegion
I/ScanJob (14193): Using immediateScanJobId from manifest: 208352939
I/ScanJob (14193): Using periodicScanJobId from manifest: 208352940
W/JobInfo (14193): Specified interval for 208352940 is +5m0s0ms. Clamped to +15m0s0ms
W/JobInfo (1419

[2020-11-19 13:04] yossefEl commented on #29
@dariocavada  thank you, unfortunately, it is not working on iOS for me, I used the example provided by the owner

[2020-11-19 13:06] yossefEl commented on #27
Hi @umair13adil !
Is there any news please about the iOS version 🤔
Thanks

[2020-11-21 10:53] LeaBuchweitz commented on #31
I have looked into it again and it seems that this does only happen when leaving the application for the first time.  After approx. 1 min didExitRegion (first line of the log above) is called and the app stops monitoring for beacons. You need to bring the application to the foreground again for the monitoring process to continue. If you leave the application again it crashes again after 1min, but

[2020-11-22 16:58] LeaBuchweitz commented on #31
After trying out several code snippets on different devices, I have figured out the problem. In case anyone stumbles upon a similar problem, here is how I solved it:
- the code worked perfectly fine for "real" Android (Android 9), but I had 2 different Xiaomi devices at first (MIUI 10.2 and Global 12.0.1)
- if you have MIUI, check out this link: [https://dontkillmyapp.com/xiaomi](https://dontkillm

[2020-11-22 16:58] #31 closed

[2020-12-03 16:50] dariocavada commented on #28
Any news on that ?

[2020-12-05 17:45] umair13adil commented on #29
@dariocavada 'UIBackgroundModes' is removed from the plugin project to prevent App rejection. It can be added by the developers in their code.

[2020-12-05 17:45] #29 closed

[2020-12-05 17:48] umair13adil commented on #28
@dariocavada **'BACKGROUND_LOCATION'** permission is removed from the plugin project but can be added by the developer in their project. Also, the code to show **'Prominent disclosure'** is added just as provided by AltBeacon library. It will only run for Android projects with minSDkVersion 29. So, it shouldn't be added for projects running under that SDK version.

[2020-12-05 17:48] #28 closed

[2020-12-05 17:51] dariocavada commented on #28
Thank you

[2020-12-07 12:57] dariocavada opened #32 "Used the new version (1.18) for my project , but still rejected from Google Play"
**Used the new version for my project, but still rejected from Google Play:**

I've compiled and I see the new dialog for permission, but I still have this from Google Play:

Any idea to solve this ?

Maybe using a plugin like this:
`https://pub.dev/packages/location_permissions`

**Features #**

- Check if permission to access location services is granted.
- Request permission to access location

[2020-12-07 13:10] umair13adil commented on #32
@dariocavada What is your flutter project's Android minSDKVersion?

The prominent disclosure message is added like this: **"Please grant location access so this app can detect beacons in the background."** Maybe this message is the reason. I will change it and release another update.

[2020-12-07 14:22] dariocavada commented on #32
[code]

[2020-12-07 15:35] andriy-gulak-ew opened #33 "Android runInBackground error: Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++"
I've set up beacons_plugin on Android and have set the run in background to true:
`await BeaconsPlugin.runInBackground(true);`

When I terminated the app, I didn't receive any info regarding beacons, but I got the following in logs:
[code]

Can you please help me with this.
What should I do in order to get the results from the foreground Android service?

[2020-12-08 07:59] mingjunsiek commented on #32
I've updated to the new version but the prominent disclosure message is not working properly. Location permission was already given but this message is still popping up every time I run the app. I tried downgrading to the previous version but for some reason, the prominent disclosure message is still there.

[2020-12-08 08:18] mingjunsiek commented on #32
Is there a way for you to let us create our own permission message instead of using the one you created?

[2020-12-08 08:35] umair13adil commented on #32
@mingjunsiek Yes, that is exactly what I was thinking. I will add a new method for this in the next release (1.19).

[2020-12-08 08:37] mingjunsiek commented on #32
awesome, this way, we won't have to rely on your side instead and let us do it our selves.

[2020-12-09 15:58] #27 closed

[2020-12-10 17:43] yossefEl opened #34 "Functionality limited dialog box"
First of all thanks a lot for making this plugin and share it with the community!

Can anyone tell me how to remove this dialog ..

![Screenshot_2020-12-10-17-58-51-117_app.myUIR.Android.jpg](https://user-images.githubusercontent.com/39236784/101809040-5ddd4180-3b17-11eb-90c8-44a8a3f52a80.jpg)

[2020-12-11 07:37] umair13adil commented on #34
@yossefEl This issue is identified in **v1.0.18.** I am working on its fix. A fix will be released today for this.

[2020-12-11 07:53] yossefEl commented on #34
Thank you so much @umair13adil

[2020-12-11 18:42] umair13adil commented on #34
@yossefEl New plugin version v1.0.19 is released, in that this issue is fixed:

[code]

[2020-12-11 18:42] #34 closed

[2020-12-11 18:44] umair13adil commented on #32
@dariocavada @mingjunsiek  New plugin version v1.0.19 is released, in that this issue is fixed:

[code]

[2020-12-11 18:44] #32 closed

[2020-12-13 16:34] jangruenwaldt commented on #18
Yeah, if you use the code from the readme, it does not actually work. Specifically, _respondToCall is never called:
`if (Platform.isAndroid) {
      BeaconsPlugin.channel.setMethodCallHandler(_respondToCall);
}`

[2020-12-14 07:43] mingjunsiek commented on #34
@umair13adil Is there anyway to not have this disclosure message at all? It is still showing up on the latest version.

[2020-12-14 11:22] dhachayawat commented on #22
Me too, I found same problem on some android device, but ios no problem.

[2020-12-14 11:48] umair13adil commented on #34
@mingjunsiek
To do that call this on init:

   await BeaconsPlugin.clearDisclosureDialogShowFlag(true);

[2020-12-29 18:51] kmigntw opened #35 "Unable to run (or build) the application on Android"
Hi, I have the following error and it is impossible for me to run the app on Android. On iOS (where I have tested so far) it is working like a charm.

[code]

Any advice will be highly appreciated!

[2021-01-03 05:58] #35 closed

[2021-01-04 20:45] kmigntw opened #37 "Background mode - iOS"
Hi, when the app is in the background the library scans the beacons for about 15 seconds and then it stops. If I resume the app and put it in the background immediatly the library starts scanning for 15 seconds again and stops. How to increate the scanning to at least few minutes?
Here is the code I use to listen for new scanned beacons.

[code]

[2021-01-15 13:26] bambinoua commented on #35
Something wrong with the fix. I still see this row
[code]
instead of
[code]
P.S. I removed pacakge from cache and install pacakge again.

[2021-01-15 13:51] kmigntw commented on #35
The PR #36 is not include in the pub.dev version of the library. In other words the current version (1.0.19) does not have the fix. You can do it by yourself. Just go to the library source and edit it. For example where you call the library -> ctrl+click (cmd+click) on BeaconPlugin, then go to android -> app -> src -> main -> kotlin -> com.umair.beacons_plugin.BeaconHelper.kt and edit line 155
<im

[2021-01-15 13:52] kmigntw commented on #37
Any advice or answer?

[2021-01-16 10:30] bambinoua commented on #35
I understand but the question why? ;)
I did so:
[code]

[2021-01-21 16:40] daddo1990 opened #38 "MainActivity.java"
good evening, i have a problem with the package, i have mainactivity.java yours is in kotlin, what should i write in java to make it work? because it gives me errors. I'm so sorry but I'm new to flutter and dart. If I am successful, can I understand the exact operation? what types of beacons can i recognize?

[2021-02-24 04:49] eishon opened #40 "iOS Build Issue - Module not found"
I am facing an issue during iOS app release build. The plugin works in the app as expected, but while archiving, the following error shows, "module beacons_plugin not found". How can I solve this?

[2021-02-24 06:07] eishon commented on #40
I found the solve of problem. Sharing it here..(Lost the link of original post)

# close Xcode
# uncomment #platform :ios, '9.0' in the Podfile
# cd ./ios/
# pod install
# flutter clean # cancel by ctrl+c if it hangs up
# open ios/Runner.xcworkspace

then do the rest

[2021-02-24 06:07] #40 closed

[2021-03-05 04:24] stheakanath opened #41 "Exited beacon region"
How can we detect if you have exited a beacon region?

[2021-03-10 10:08] haidvams opened #42 "IOS not working"
IOS device cannot scan device beacon ?

[2021-03-11 14:13] PeterPoll commented on #42
Is working for you on android ? I'm trying and doesn't works for android or ios. If working for your on Android please help me or send me you code.. I'm trying many days now to figure out..

Thank you!

[2021-03-11 14:15] PeterPoll commented on #37
Hello!  For me isn't working. I got the example that has this package on pub.dev.
Your code working ? Can you send me fll of code to try it if working for me correctly ?

Thank you!

[2021-03-11 14:48] PeterPoll opened #43 "Tried the example but not working"
Hello! I got the example but doesn't work. Any idea why ?

[2021-03-11 14:59] umair13adil commented on #43
Hi, Please share details about your beacons.

[2021-03-11 15:11] PeterPoll commented on #43
Hi!
I just bought a beacon from blueupbeacons.com. I bought the mini beacon.
I'm trying to use your code and replace your demo proximity UUID with
beacon's own but the app is doing nothing.

On the following emails you will see some screenshots

On Thu, 11 Mar 2021 at 4:59 PM, Muhammad Umair Adil <
***@***.***> wrote:

[2021-03-17 13:52] leobispo commented on #42
The example in the README is wrong. Use the example from the project itself

[2021-03-17 13:54] PeterPoll commented on #42
Also project doesn't work... I'm looking so many days how to create an app that can scan beacons nearby and doing something, like notification.

[2021-03-17 13:57] leobispo commented on #42
It is working for me... maybe your beacon?

[2021-03-17 14:02] PeterPoll commented on #42
This example working and detect to beacons ? Hmmm my beacon is from a company blueup and from configuration app's company works well.

Can you help me to fix it and show if it works ?
Thank you.

[2021-03-17 15:08] leobispo commented on #42
This is the code I am using:

[code]

[2021-03-18 07:53] PeterPoll commented on #42
@leobispo In the addRegion the first option "myBeacon" is option and you can write what ever you want. The second is the proximityUUID?

[2021-03-18 08:16] PeterPoll commented on #42
@leobispo   I tried also your code but  not working for me .. Can you help me more please ? How I can do this  working ? I have spent a lot of time and I have nothing since then.

[2021-03-22 06:42] jallynme commented on #22
version 1.0.20 - setMethodCallHandler is never been called too. but for iOS is working fine.

[2021-03-22 09:53] ezranbayantemur opened #44 "Executing tasks on background scan mode"
Hello, firstly thanks so much for this awesome project.

I tried the package and it looks like working on background mode. But I want to execute some tasks for scanned device on background mode (like logging founded device or etc.)

How can I do that with this package? Is there any example for it?

I'm kind a new on Flutter world, sorry if that question kind a necessary

Thanks in advance

[2021-03-22 10:46] ezranbayantemur commented on #33
Same here. Maybe @umair13adil would help?

[2021-04-03 04:19] haidvams commented on #42
here my code worked now

[2021-04-03 13:51] PeterPoll commented on #42
Very nice, can you send me a link weTransfer with your code, to my email (Pollakis.p6@gmail.com) please?

Thank you!

[2021-04-10 13:51] sutogan4ik commented on #42
@PeterPoll you need to specify the region correctly, uuid is case-sensitive

[2021-04-10 13:54] sutogan4ik commented on #42
by the way, the implementation for android does not react at all to the scanned region, and in iOS you need to specify the region, otherwise the scan result will be ignored

[2021-04-23 07:54] cloudbreakstudios opened #46 "Scanning for beacons not working"
Currently having an issue implementing this plugin.  Tried the readme and the example on git but it is not detecting the beacon.

I also noticed that in the example the code in onPause and onResume is the wrong way around and so changed this

Is there a way to use this where you do not have to enter the UUID?  I basically need to be able to scan for all beacons and then print out the UUID and othe

[2021-04-27 18:56] sander121 commented on #46
Are you on the most recent version 2.0.0? When I updated to this version my app stopped to detect any beacons, the version before that, 1.0.20, works for me.

[2021-04-30 09:08] cloudbreakstudios commented on #46
It turns out I was trying to read UID from an Eddystone beacon.  I have switched to iBeacon and it is now being detected.

[2021-04-30 09:08] #46 closed

[2021-04-30 09:24] cloudbreakstudios commented on #37
Your issue maybe related to this (i believe this package uses this beacon library!).

[https://altbeacon.github.io/android-beacon-library/battery_manager.html](url)

Android versions 8+ restrict background processes to run for at most 15 minutes after an app was last in the foreground. Beyond this, the JobScheduler must be used to execute periodic tasks like beacon scanning, which are limited to r

[2021-04-30 16:59] cloudbreakstudios opened #47 "Scanning not working on Android"
I am trying to get this little prototype running, where i have my main app wrapped around a MultiProvider.  When the app launches initState calls the function to start listening for the stream and print out the UUID when one is detected.

However this is not working at all.  I am testing on a Galaxy S8 and sending out iBeacon broadcast, which i can see with other apps.

I have updated the Manifest

[2021-05-11 09:46] #47 closed

[2021-05-24 16:09] cloudbreakstudios commented on #25
Is there a way so that selecting the Beacons Service persistent notification opens the app back up?  Currently clicking the popup is doing nothing!

[2021-05-28 10:52] cloudbreakstudios opened #48 "iOS Scanning for all beacons - not working"
I have this plugin working great on Android.  I do not have to specify any regions and the devices correctly report back all beacons in range.  However on iOS i get nothing back.

All I want to do is be able to detect all beacons in range.  Is anyone else having this difficulty on iOS?

Permissions are all set correctly and I can see it listening for beacons but, nothing is coming back - my Androi

[2021-06-02 12:26] cloudbreakstudios commented on #3
Hi @mike-robinson Where you able to get iOS scans detecting beacons?  I am trying to scan beacons without having to provide a UUID as our use case requires us to detect all beacons within range.  I raised this issue the other day as I've not been able to address this issue.  This plugin works fine on Android and detects beacons without needing to register UUID's, but again, iOS just isn't picking

[2021-06-05 11:45] cloudbreakstudios commented on #42
Are you able to create a mini prototype of your working version?  I have now spent a few days investigating why my iBeacon is not displaying on iOS.

I have setup the beacons UUID (iBeacon) and configured the code to match (also case sensitive as you've suggested).  Project swift file and plist has been updated per example.  Working fine on Android but absolutely no response on iOS.  The location

[2021-06-05 11:47] cloudbreakstudios commented on #48
Realised that iOS does not support global scanning and that you do have to provide it was a list of UUID's that you are looking for, unlike Android where these do not need specifying.

Luckily in my use case, we're able to setup the beacons we need with a specific UUID, although this does create a slightly limitation.

[2021-06-05 11:47] #48 closed

[2021-06-05 13:37] cloudbreakstudios commented on #42
So I just got this (kinda) working.. it seems that as soon as I add in more than one region to scan, iOS doesnt detect any!

This fails..
await BeaconsPlugin.addRegion("MyBeacon", "696e6974-7379-7300-0000-0070616e6963");
await BeaconsPlugin.addRegion("MyBeacon", "696e6974-7379-7300-0000-000000000001");

whereas this works and detects the first beacon..
await BeaconsPlugin.addRegion("MyBeacon", "69

[2021-06-09 09:39] Cinqprien opened #49 "iOS doesn't work : bluetooth permission ?"
Hello !

Thanks for the plugin. It's working fine on Android but I have a problem on iOS : it detect nothing since I pass in version 2.0.0. I think it has a link with a bluetooth permission. I add the lines in my info.plist but my phone doesn't ask me for bluetooth permission when I launch the app. Maybe there is something else ?

Here my info.plist :
[code]

And here the code :
[code]

Thanks a l

[2021-06-09 18:09] RazaGR commented on #49
same issue on iOS , @umair13adil any idea?

[2021-06-14 09:14] Cinqprien commented on #49
If anyone found a solution, I'll be glad to know it, it's really a big issue for me !

[2021-06-16 08:58] Cinqprien commented on #49
Okey, it's working when I put the UUID in my code, the problem is with the firebase. If anyone has a solution to store the UUID on firebase it's will be great!

[2021-06-16 11:11] RazaGR commented on #49
@Cinqprien could you please share your code?

[2021-06-22 09:16] EdouardDelep3 opened #50 "The plugin stops working after resuming the app"
Hello,

The plugin works very well in debug mod. But when I build an apk file and install it on my Android device, I got a problem. When I start the app for the first time everything is working very well but when I close the app and restart it, the plugin is not working and I cannot detect my beacons anymore. The only when to fix that is to clear the app's data in the android settings. I have the

[2021-06-30 06:17] abedputra commented on #25
is there any way to modify the text of the notif?

[2021-07-03 00:04] abedputra opened #51 "Modify the text of the notif"
Hi,

Thanks for the great plugin.
I have a question is there any way to modify the text of the notif?

[2021-07-05 13:19] alok2811 commented on #51
I also face the same issue please tell help me also to modify the notification text...

[2021-07-20 19:37] Scs-CSS commented on #50
Same problem :(

[2021-08-16 19:19] zaneschepke commented on #38
Same issue

[2021-08-17 06:05] nanduviswanathan opened #52 "How can I access data like minor, rssi values?"
I want to access data like minor, major and rssi values. but currently it read data as a string. Is there any way to access data separately?

[2021-08-17 06:28] umair13adil commented on #52
The result is in JSON, so you extract these values after parsing the string JSON.

[2021-08-17 06:28] #52 closed

[2021-09-03 10:48] VinniciusJesus commented on #33
Do we have any updates on this?

[2021-09-03 14:02] VinniciusJesus opened #53 "[ANDROID] Not working after kill App"
After killing the app the scans are interrupted and I get the message:

" Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send. Channel: beacons_plugin_stream. Response ID: 0"

Are there any examples that work with the dead app?

[2021-09-16 10:23] icheered commented on #53
I'm having the same issue with the example. Installing and starting the scan works fine, but then killing and restarting the app doesn't work. The only way around this is to reinstall the app and then it works until it is killed again. Starting/Stopping the scan results in logging:
[code]

[2021-09-28 11:18] alok2811 commented on #53
Same issue with me in android

[2021-10-08 12:33] barangungor opened #54 "Does listenToBeacons say no beacons here?"
I have a problem wiht listenToBeacons. That's my code:

this stream's listen doesnt send data when there are no beacon. I should get data even if there are no beacons. How can i do that?

[2021-10-27 19:41] mherfurt opened #55 "Deactivate Permission Request"
I am developing an app, that uses an introduction screen for the "prominent disclosure" needed for the background location permission on android. Now, every time when the app is newly installed on my device, a permission prompt pops up, even when the beacons-process has not been started.

It would be great to tell plugin to not ask for the permission itself. Would this be possible?

[2021-11-24 11:48] VinniciusJesus commented on #18
@jangruenwaldt Could you give me a sample of the solution? I'm not getting

[2021-11-26 14:20] jangruenwaldt commented on #18
Just use an older package version I think. Or it was fixed, not sure.

[2021-12-27 15:40] barangungor opened #56 "setMethodCallHandler never run?"
I want scan beacon devices, wrote the code like example code but i only see 2. print in my console. I can't see 3. print and can't startMonitoring.

[code]

[2021-12-27 16:17] #51 closed

[2021-12-27 16:18] #17 closed

[2021-12-28 07:26] barangungor commented on #18
Same issue. Did you fix ?

[2021-12-28 07:43] umair13adil commented on #56
@barangungor Let me look into this issue today.

[2021-12-28 07:44] barangungor commented on #56
@umair13adil Thanks waiting for it.

[2021-12-28 09:01] umair13adil commented on #56
This issue is resolved in version 2.0.5.

[2021-12-28 09:01] #56 closed

[2021-12-28 09:05] umair13adil commented on #55
This is handled in version 2.0.4.

You can do this like this where ever you want to invoke:

[code]

[2021-12-28 09:05] #55 closed

[2021-12-28 09:05] #18 closed

[2021-12-28 09:21] barangungor commented on #56
I upgraded to 2.0.5 but still same error.

[2021-12-28 09:25] umair13adil commented on #56
@barangungor Have you tried it in the sample app, after pulling latest changes?

[2021-12-28 09:28] barangungor commented on #56
No, i didn't try sample app but my code same with sample app

[code]

[2021-12-28 11:24] barangungor commented on #56
We definitely need to use this code. I added this block and error fixed. Thanks @umair13adil !

[code]

[2022-01-07 13:19] barangungor opened #57 "Why i keep see the logs?"
Hey, i'm using this plugin in my application. I started the monitoring thenk i stopped it but i keep see this logs in my console screen. What does it mean this logs. Did i wrong process?

[code]

[2022-01-19 11:53] bkhezry opened #58 "Bug in stop and start scanning. multiple time beacons detected"
Hi,
For each time I stop and start scanning again, the number of beacons that are detected, increases as unusual.
I think maybe listener of steam, remaining and beacons capture multiple time.
Also, in the first time of running the app, after getting the permission of location, the detection not working and we should be stopped and start it. I just run the example app.

[2022-01-21 00:13] gordett commented on #49
Hello,

you put uuid in region and in ibeacon config?

i can find with android, but with iOS I can’t see any beacon. And I don’t have any error.

[2022-01-21 00:13] gordett commented on #42
Hello,

you put uuid in region and in ibeacon config?

i can find with android, but with iOS I can’t see any beacon. And I don’t have any error.

Any suggestion?

[2022-01-21 23:38] gordett commented on #42
Can you search beacon on ios?

[2022-01-24 06:56] ravinandan25 opened #59 "It don't work with android 12 (API 31)"
Same code works for android 11 but it shows this error for android 12:

Failure [INSTALL_PARSE_FAILED_MANIFEST_MALFORMED: Failed parse during installPackageLI: /data/app/vmdl1183447910.tmp/base.apk (at Binary XML file line #86): com.umair.beacons_plugin.RebootBroadcastReceiver: Targeting S+ (version 31 and above) requires that an explicit value for android:exported be defined when intent filters a

[2022-02-03 09:52] barangungor commented on #59
Same issue for me. @umair13adil can you fix it please?

[2022-02-03 10:03] umair13adil commented on #59
I will fix this & send an update by today.

[2022-02-03 12:38] barangungor commented on #59
I'm updated to version 2.0.7, i ran flutter clean -> pub get and try run my project but still same error.

[2022-02-04 07:59] umair13adil commented on #59
@barangungor This error is from the 'AltBeacon' library that my plugin is using. Let me see if there is any update for it. I will update & release the plugin again.

[2022-02-04 16:40] ravinandan25 commented on #59
I have a fork that plugin repo and made some changes that work for me. you can use my repo

add this instead of flutter beacon in pubspec.yml

beacons_plugin:
    git:
      url: https://github.com/ravinandan25/simple_beacons_flutter.git

and then in app base build.gradle made this changes:

compileSdkVersion 31
....
...
minSdkVersion 23
targetSdkVersion 30

[2022-02-17 02:56] hyejin-1010 commented on #53
I have a same issue.

[2022-02-17 09:27] EdoTez opened #60 "MissingPluginException(No implementation found for method startMonitoring on channel beacons_plugin)"
Hi all,
I tried to download the example, there are no build errors and everything seems to work but my Iphone doesn't detect anything, running in debug I see this problem:

`[VERBOSE-2:ui_dart_state.cc(198)] Unhandled Exception: MissingPluginException(No implementation found for method startMonitoring on channel beacons_plugin)
#0      MethodChannel._invokeMethod (package:flutter/src/services/plat

[2022-02-17 10:58] EdoTez commented on #60
https://stackoverflow.com/questions/64130192/flutter-beacons-plugin-unhandled-exception-missingpluginexceptionno-implemen

[2022-02-17 10:58] #60 closed

[2022-02-21 17:52] vladaman commented on #59
I also get same issue with following receiver. Unfortunately @ravinandan25 git doesn't seem to work either.

[code]

[2022-02-25 13:49] baranacikgoz commented on #22
Same problem. Any solution?

[2022-02-25 13:59] barangungor commented on #56
I'm facing this issue again. I can't understand, Sometimes it happens sometimes it doesn't.

[2022-02-25 15:16] barangungor commented on #22
@baranacikgoz which platform do you use?

[2022-02-25 15:21] barangungor commented on #44
I saw now. While the application is running in the background, you want to run functions according to the devices found, do I understand correctly?

[2022-02-27 12:13] ravinandan25 commented on #59
Did you made changes in " app base build.gradle" file?

[2022-03-05 15:31] baranacikgoz commented on #22
`
  if (Platform.isAndroid) {

      //Prominent disclosure
      await BeaconsPlugin.setDisclosureDialogMessage(
          title: "Need Location Permission",
          message: "This app collects location data to work with beacons.");

      //Only in case, you want the dialog to be shown again. By Default, dialog will never be shown if permissions are granted.
      await BeaconsPlugin.clearDisc

[2022-03-07 13:36] barangungor commented on #22
My code used to work like this, but it doesn't work now because it never run the setMethodCallHandler function.

[code]

and that's my prints

[2022-03-07 14:34] barangungor opened #61 "setMethodCallHandler never run?"
I want scan beacon devices, wrote the code like example code but i only see 2. print in my console. I can't see 3. print and can't startMonitoring.

[code]

[2022-03-07 14:43] barangungor commented on #59
@ravinandan25 can you look my issue? https://github.com/umair13adil/simple_beacons_flutter/issues/61

[2022-03-18 07:58] baranacikgoz opened #62 "gives duplicate datas"
I am receiving duplicate values. In order to confirm that i put the
[code]
code. You will notice that the values are duplicate even the scan time that plugin gives. But when i track time milliseconds are chaning on duplicate values. What's that mean and what should I do?

Code:
[code]

Debug console:  (Look careful to the 'On time' line)
[code]

[2022-03-22 04:15] postswift commented on #49
If you want to detect beacons on IOS, you must add the UUID of the beacons by using addRegion you want to be detected before scaning. that no needed on Android. A

[2022-03-22 11:31] gordett commented on #49
Thanks for your info.  👍

[2022-03-27 14:33] #62 closed

[2022-03-27 15:25] baranacikgoz commented on #54
I had faced this question and find out stream's timeout feature can solve our problem. I've just changed the line starting with ```_beaconEventsController.stream......``` to this;

[code]

[2022-04-22 12:03] heliahk commented on #58
same issue for me

[2022-04-28 11:59] sandeepunify commented on #59
java.lang.SecurityException: Permission Denial: starting Intent { act=android.bluetooth.adapter.action.REQUEST_ENABLE cmp=com.android.settings/.bluetooth.RequestPermissionActivity } from ProcessRecord{321302e 23158:dw.ujjainapp.app/u0a438} (pid=23158, uid=10438) requires android.permission.BLUETOOTH_CONNECT

please solve this issue
This issue is happening on android 12

[2022-05-20 13:32] julien-fr opened #63 "Devices recommendation"
Hi all,

Which ibeacon devices (brand/model) are recommended to work with this package ?
A website to buy in France/Europe?

[2022-05-24 13:54] bambinoua opened #64 "Cannot compile my app with your plugin under flutter 3.0.0"
compileAndroidSdk 31
targetAndroidSdk 30
kotlinVersion 1.6.10

I see the error which is in attached image
![index](https://user-images.githubusercontent.com/45417992/170052656-2d69401d-2b80-41e9-8a18-88a6789b236c.jpg)

[2022-06-14 15:26] JohnSchroeder99 commented on #64
Anything on this yet? I would hate to spend time with this package and not be able to to do what i need.

[2022-06-14 17:35] umair13adil commented on #64
@JohnSchroeder99 This issue is resolved in this version "2.0.8".

[2022-06-14 17:35] #64 closed

[2022-06-14 17:35] umair13adil commented on #59
This issue is resolved in version "2.0.8".

[2022-06-24 07:07] ideawolf opened #65 "IOS MissingPluginException on startup"
IOS MissingPluginException on startup

Please help me.

Why is the swift file not ready to use?

Not worked for me has everything I read in other issues.

[2022-06-24 07:09] ideawolf commented on #65
#23 Same issue here. but not worked for me this solution.

[2022-07-10 14:44] official-ravi opened #66 "Example app is not able to scan the beacon simulators(for android)"
I have tried to scan the iBeacons created using beacon simulator app but it is not able to scan the same and even not showing any activity.

[2022-07-12 06:02] #66 closed

[2022-07-21 04:33] official-ravi opened #67 "Background scanning is not working when phone is in locked state"
I am not getting any locked or activities while making the app to background and then lock the device. Its just showing logs for 1 or 2 minutes hardly and then stops.

I was testing couple of scenarios using example app

https://github.com/umair13adil/simple_beacons_flutter/tree/master/example

[2022-07-28 23:07] jabele opened #68 "How do you delete or remove a Region"
Once a region has been triggered and we've issued a push notification for that region I want to remove it from monitoring. If I am monitoring 20 regions how do I delete a single region? It doesn't appear deleteRegion can be used?

[2022-08-02 07:13] tmtong commented on #43
https://altbeacon.github.io/android-beacon-library/detection-trouble.html

[2022-09-16 10:30] francescovallone commented on #61
Hello,

Same problem here running the example app. It never print `print("Method: ${call.method}");` so it looks like it's not working properly

[2022-10-04 13:18] cloudbreakstudios commented on #56
This issue appears to have come back!  We get past the prominent disclosure, but that's it.  Scanning is never started!  This used to work in 2.0.0.  I've upgraded to 2.0.8 (clean and rebuild) - and it is no longer working!  Tested on fully updated Pixel 4.

[2022-10-06 07:56] cloudbreakstudios opened #69 "scannerReady never received"
Something has changed recently. My apps are no longer receiving beacon scan results and on further investigation, it appears that we never get the "scannerReady" channel method back!

I have also pulled the latest demo example from git and this is also is not seeing the beacons.  I believe the issue is the same.

Logcat is only showing "Method: isPermissionDialogShown".  We never see the 'scannerR

[2022-10-07 17:55] ibcoleman opened #70 "iOS App Freezes With "White Screen" On Startup"
Hi I just updated xcode, flutter, the ios version on my device, and my Flutter application which uses beacons_plugin after not touching it for a few months.

Sometimes I get the following exception in the log, but sometimes not. When I run the app in debug mode, it works without fail. If I run it with `flutter run --release` it hangs with a "white screen" on startup about 3 times out of 4.

I'm at

[2022-10-10 21:19] typexy opened #71 "Plugin maintained / Additional important questions"
Hi, is this plugin actively maintained?
Just a few questions, perhaps someone can help out:
- It is possible to have a long running instance on Android as a foregroundservice?
- Is a real "monitoring" implemented, to detect whether a given region was entered or exited? This is necessary to use it in iOs in background because then ranging can be started for a few seconds.

Many thanks in advance fo

[2022-10-10 21:23] typexy commented on #67
@official-ravi did you find a solution? or was this only due to the example and you made it work in another app?

[2022-10-19 09:37] HashaamNadeem opened #72 "Background scanning is not working"
I have a use case where i want to scan beacon in the background even if the app is killed.
` await BeaconsPlugin.runInBackground(true);`
added this for background but it is not working.

[2022-11-02 14:01] anilkumar91583 opened #73 "Not able to scan ibeacons"
Altbeacons are able to scan, but ibeacons not able to scan

[2022-11-03 09:02] cloudbreakstudios commented on #69
See this issue I raised in flutter_blue_plus.  Issue seems to be related to latest Android OS (!3)... https://github.com/boskokg/flutter_blue_plus/issues/157

[2022-11-03 09:03] cloudbreakstudios commented on #73
Maybe related to #69

[2022-11-03 10:08] cloudbreakstudios commented on #69
https://developer.android.com/guide/topics/connectivity/bluetooth/permissions?authuser=1

[2022-11-04 05:07] anilkumar91583 commented on #73
In my case, I am able to get "scannerReady" and able to scan "Altbeacons". But not able to scan ibeacons, could you please help me out what was the issue.

awaiting for your replay

[2022-11-23 13:55] tmtong commented on #50
I have the same problem for the example app
After install, run in foreground, It prints the beacon
Put it in background, I get notification
When I switch back to foreground, I stop getting anything